<h1>Schema for Capture and Amplification by Selective Circularization</h1>

<%= image_tag("capture_schema_2.png", :size => "705x440", :alt => "Capture Schema", :title => "Capture Schema") %><br/>

<%= link_to 'Back', :back %>
