<h1>Schema for Capture and Amplification by Selective Circularization</h1>

<%= image_tag("Figures_S1_Natsoulis.png", :size => "432x363", :alt => "Selective Circularization Schema") %><br/>

<%= link_to 'Back', :back %>
