<h1>Download Zipped File</h1>

<table class="list">
<% @chromosomes.each do |chromosome| %>
  <tr><td><%= link_to "Chromosome #{chromosome}", zip_download_path(:chr_num => chromosome) %></td></tr>
<% end %>
</table>

<%= link_to 'Back', :back %>
