<h1>Welcome to the Stanford Human OligoGenome Project</h1>
<p>
The Stanford Human OligoGenome Project hosts a database of capture oligonucleotides for conducting high-throughput targeted resequencing of the human
genome.  This set of capture oligonucleotides covers over 92% of the human genome for build 37 / hg19 and over 99% of the coding regions
defined by the <a href=http://www.ncbi.nlm.nih.gov/CCDS/>Consensus Coding Sequence</a> (CCDS).  The capture reaction uses a highly multiplexed
approach for selectively circularizing and capturing multiple genomic regions using the in-solution method developed in 
<a href=http://www.ncbi.nlm.nih.gov/pubmed/21738606>Natsoulis et al, PLoS One 2011</a>.  Combined pools of capture oligonucleotides
selectively circularize the genomic DNA target, followed by specific PCR amplification of regions of interest using a universal primer pair
common to all of the capture oligonucleotides. Unlike multiplexed PCR methods, selective genomic circularization is capable of efficiently
amplifying hundreds of genomic regions simultaneously in multiplex without requiring extensive PCR optimization or producing unwanted side
reaction products. Benefits of the selective genomic circularization method are the relative robustness of the technique and low costs of
synthesizing standard capture oligonucleotide for selecting genomic targets. 
</p>

<br/>
<br/>
<div class="notes" style="padding:7px;">
The information contained in this website is for general information purposes only.  While we endeavor to keep the information up to date and correct,
 we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with
 respect to the website or the information, or related graphics contained on the website for any purpose.  Any reliance you place on such information is
 therefore strictly at your own risk.  In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or
 damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website.  Every effort
 is made to keep the website up and running smoothly. However, we take no responsibility for, and will not be liable for, the website being temporarily
 unavailable due to technical issues beyond our control.
</div>
